{% extends 'base.html.twig' %}


{% block body %}

                        <div class="col-lg-12">
                            <div class="card">
                                <div class="card-header align-items-center d-flex">
                                    <h4 class="card-title mb-0 flex-grow-1"> <B>AJOUT CONSTANTE</B></h4>
                                    <div class="flex-shrink-0">
                                        <div class="form-check form-switch form-switch-right form-switch-md">
                                    
                                        </div>
                                    </div>
                                </div><!-- end card header -->

                                <div class="card-body">
                                   
                                    <div class="live-preview">
                                        <div class="row g-3">
                                            <div class="col-sm-6">
                                                <input type="text" class="form-control" placeholder="Poids" aria-label="Poids">
                                            </div>
                                            <!--end col-->
                                            <div class="col-sm-6">
                                                <input type="text" class="form-control" placeholder="Tension" aria-label="Tension">
                                            </div>
                                            <!--end col-->
                                            <div class="col-sm-4">
                                                <input type="text" class="form-control" placeholder="Temperature" aria-label="Temperature">
                                            </div>
                                            <!--end col-->
                                            <!--end col-->
                                            <div class="col-sm">
                                                <input type="text" class="form-control" placeholder="Zip" aria-label="Zip">
                                            </div>
                                            <!--end col-->
                                        </div>
                                        <!--end row-->
                                    </div>
                                    <div class="d-none code-view">
                                        <pre class="language-markup" style="height: 275px;">
                                        </pre>
                                    </div>
                                </div>
                            </div>
                        </div> <!-- end col -->

{% endblock %}
